include ./mixins/icon

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
    meta(property='og:type' content='website')
    meta(property='og:title' content=name)
    meta(property='og:url' content='http://rodweb.ru')
    meta(property='og:site_name' content=name)
    meta(property='og:description' content=title)
    meta(property='og:image' content='http://rodweb.ru/images/me.jpg')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@deryabini')
    meta(name='twitter:title' content=name)
    meta(name='twitter:description' content=title)
    meta(name='twitter:image' content='http://rodweb.ru/images/me.jpg')
    title #{name} — #{title}
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:400,300&subset=cyrillic')
    link(rel='stylesheet' href='/stylesheets/main.css')
  body
    .page
      article.profile
        .profile__pic
        h1.profile__name= name
        h2.profile__title= title
        div.contacts.profile__contacts
          each item in contacts
            a.contacts__item(href=item.url target='_blank' class='contacts__item--#{item.name}' data-title=item.title)
              if item.name == 'moikrug'
                span.contacts__icon M
              else
                +icon(item.name).contacts__icon
    include ./partials/ya-metrica
